.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form-container {
    width: 400px;
  }
  
  .example-full-width {
    width: 100%;
    margin-top: 10px;
    display: block;
  }
  
  .button-container {
    margin-top: 20px; 
    display: flex;
    justify-content: center;
  }
  .button-container a {
    background-color: #2ecd33; 
    color: white;
  }
  
  .button-container button,
  .button-container a {
    margin-right: 10px; 
  }
  